@charset "UTF-8";

form {
    display: flex;
    flex-direction: column;  /* 수직 방향으로 아이템 정렬 */
    align-items: center;     /* 가로 중앙 정렬 */
}
.bg {
    background-image: url('../img/lonbg.jpg');
    background-size: cover;
    width: 1600px;
    height: 900px;
    position: relative;
}
.sc {
	background-color: rgb(67, 63, 64);
    position: absolute;
    top: 30%;
    left: 70%;
	width: 300px;
    height: 400px;
    opacity: 70%;
}

.Text {
	font-size: 17px;         /* 폰트 크기 설정 */
    color: rgb(255, 255, 255);             /* 폰트 색상 설정 */
    font-weight: bold;  /* 텍스트를 굵게 만듭니다. */
  
    
}