@charset "UTF-8";

.bg {
	background-image: url('../img/battle.png');
	background-size: cover;
	width: 1280px;
	height: 720px;
	position: absolute;

}
.myturn {
	background-image: url('../img/playerturn.png');
	background-size: cover;
	width: 876px;
	height: 582px;
	position: absolute;
	top: 0%;
	left: 10%;
}
.playerline {
	background-image: url('../img/battleline3.png');
	background-size: cover;
	width: 1256px;
	height: 409px;
	position: absolute;
	top: 110px;
	left: 11px;
}
.battlebar {
	background-image: url('../img/battlebar.png');
	background-size: cover;
	width: 1280px;
	height: 720px;
	position: absolute;
	top: 0%;
	left: 0%;
}
.mytop{
	background-image: url('../img/linebtn.png');
	background-size: cover;
	width: 63px;
	height: 104px;
	position: absolute;
	top: 25%;
	left: 30%;
}
.mymid{
	background-image: url('../img/linebtn.png');
	background-size: cover;
	width: 63px;
	height: 104px;
	position: absolute;
	top: 25%;
	left: 30%;
}