@charset "UTF-8";

.bg {
	background-image: url('../img/gameflow-background-dark.jpg');
	background-size: cover;
	width: 1600px;
	height: 900px;
	position: relative;

}

.menu {
	background-image: url('../img/menubar.png');
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	width: 1300px;
	height: 110px;
}

.money {
	font-size: 20px;
	color: aliceblue;
	position: absolute;
	top: 4%;
	left: 80%;
	width: 150px;
	height: 130px;
}

.main {
	position: absolute;
	top: 30%;
	right: 60%;
	width: 150px;
	height: 130px;
}

.myinfo {
	position: absolute;
	top: 32%;
	left: 75%;
	width: 130px;
	height: 130px;
}

.collection {
	position: absolute;
	top: 32%;
	left: 80%;
	width: 130px;
	height: 130px;
}

.shop {
	position: absolute;
	top: 32%;
	left: 85%;
	width: 130px;
	height: 130px;
}

.domestic {
	position: absolute;
	top: 55%;
	right: 60%;
	width: 130px;
	height: 130px;
}

.international {
	position: absolute;
	top: 50%;
	right: 60%;
	width: 130px;
	height: 130px;
}
.selectIocon{
	background-image: url('../img/icon-victory.png');
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	width: 250px;
	height: 250px;
	top: 30%;
	right: 80%;
}
.Text {
	width: 1px;
	height: 1px;
}