@charset "UTF-8";

.bg {
   	background-image: url('../img/shop.png');
	background-size: cover;
	width: 1600px;
	height: 900px;
	position: relative;

}
.maininfo {
    background-color: rgb(37, 44, 50);
    display: flex;
    width: 300px;
    height: 900px;
    right:0%;
    flex-direction: column;  /* 수직 방향으로 아이템 정렬 */
    align-items: center;     /* 가로 중앙 정렬 */
}
.menu {
    background-color: rgb(5, 55, 82);
    display: flex;
    width: 1100px;
    height: 800px;
    right:0%;
    flex-direction: column;  /* 수직 방향으로 아이템 정렬 */
    align-items: center;     /* 가로 중앙 정렬 */
}

.profile {
	background-color: rgb(255, 255, 128);
	position: relative;
    top: 50px;
	width: 200px;
    height: 250px;
}
.mainEquipp {
	background-color: rgb(128, 128, 255);
	position: relative;
    top: 50px;
	width: 1000px;
    height: 300px;
    display: flex;   /* Flexbox를 사용 */
	justify-content : center;  /* 아이템을 수평 방향으로 중앙 정렬 */
	align-items: center;     /* 가로 중앙 정렬 */
	margin-bottom: 30px;
	white-space:pre-wrap;
	overflow-x:auto;
}
.mainEquipped{
	background-color: rgb(125, 21, 202);
    top: 10px;
	width: 180px;
    height: 230px;
    margin-right:5px;
    margin-left:5px;
}

.Text {
	font-size: 17px;         /* 폰트 크기 설정 */
    color: rgb(255, 255, 255);             /* 폰트 색상 설정 */
    font-weight: bold;  /* 텍스트를 굵게 만듭니다. */
    position: relative;
    top: 30px;
    width: 200px;
    height: 35px;
    text-align: center;
}
.menusc {
	font-size: 17px;         /* 폰트 크기 설정 */
    color: rgb(255, 255, 255);             /* 폰트 색상 설정 */
    font-weight: bold;  /* 텍스트를 굵게 만듭니다. */
    position: relative;
    top: 30px;
    width: 500px;
    height: 35px;
    text-align: center;
    
}