@charset "UTF-8";

.bg {}

.selectpaper {
	background: url('../img/battleselet.png');
	background-size: contain;
	width: 82%;
	height: 88%;
	margin: 0.05% 0% 0% 0%;
}

.select-BestCategory {
	width: 100%;
	height: 50%;
	margin: 0% 0% 0% 0%;
	padding: 0% 0% 0% 0%;
}

.stick-select {
	background-color: rgb(102, 109, 104);
	width: 80%;
	height: 0.2%;
	margin: 0% 0% 0% 7%;
	padding: 0% 0% 0% 0%;
}

.select-Subcategories {
	width: 100%;
	height: 35%;
	margin: 0% 0% 0% 0%;
	padding: 0% 0% 0% 0%;
}

.select-1 {
	background: url('../img/select-1.png');
	background-size: contain;
	width: 15%;
	height: 42%;
	margin: 9% 0% 0% 25%;
	background-repeat: no-repeat;
	border: none;
}
.select-1:hover {
	background: url('../img/select1-hover.png');
	background-size: contain;
	width: 15%;
	height: 42%;
	margin: 9% 0% 0% 25%;
	background-repeat: no-repeat;
	border: none;
}
.decision-box {
	width: 100%;
	height: 15%;
	margin: 0% 0% 0% 0%;
	border: none;
	display: flex;
	text-align: center;
}
.back-home {
	cursor: pointer;
	background: url('../img/back-homebtn.png') no-repeat center center;
	background-size: contain;
	width: 4%;
	height: 40%;
	border: none;
	transition: transform 0.2s ease;
	margin: 2% 0% 0% 43%;
	padding: 0% 0% 0% 0%;
}
.back-home:hover {
	cursor: pointer;
	background: url('../img/onready-homebtn.png') no-repeat center center;
	background-size: contain;
	width: 4%;
	height: 40%;
	border: none;
	transition: transform 0.2s ease;
	margin: 2% 0% 0% 43%;
	padding: 0% 0% 0% 0%;
}

.lobby-go {
	cursor: pointer;
	background: url('../img/ready-lobbybtn.png') no-repeat center center;
	background-size: contain;
	width: 14%;
	height: 40%;
	border: none;
	transition: transform 0.2s ease;
	margin: 2% 0% 0% -0.5%;
	padding: 0% 0% 0% 0%;
}
.lobby-go:hover{
	cursor: pointer;
	background: url('../img/onready-lobbybtn.png') no-repeat center center;
	background-size: contain;
	width: 14%;
	height: 40%;
	border: none;
	transition: transform 0.2s ease;
	margin: 2% 0% 0% -0.5%;
	padding: 0% 0% 0% 0%;
}