@charset "UTF-8";

.bg {}

.infopage {
	width: 100%;
	height: 100%;
	display: flex;
	text-align: left;
}

.myfag {
	background: url('../img/liner-lobby.png') no-repeat center center;
	background-size: contain;
	width: 20%;
	height: 85%;
	margin: 0% 0% 0% 0%;
	padding: 0% 0% 0% 0%;
	border: none;
}

.recode {
	color: black;

}